<header>
  <nav>
    <a href="index.html"><img src="Images/Icone.png" alt="HomeCook Logo" class="logo"></a>
    <ul>
      <li><a href="index.html" class="links">Inicio</a></li>
      <li><a href="Recipes-filter.html?filter=all" class="links">Recipes</a></li>
      <li><a href="Log-in.html" class="links">Saved</a></li>
      <li><a href="#" class="links" onclick="document.getElementById('footer').scrollIntoView({ behavior: 'smooth' }); return false;">
        Contact
      </a></li>
      <li>
        <form action="#" method="GET" class="search-form">
          <input id="BusquedaDeReceta" type="text" name="q" placeholder="Buscar..." class="search-input"/>
          <button id="SearchButton" type="submit" class="search-button"></button>
        </form>
      </li>
      <li id="Log_in_Section">
        <!-- Si está logueado -->
      <li *ngIf="authToken" >
        <a href="account">
          <img src="assets/Images/account.png" alt="Cuenta" class="image_icon"/>
        </a>
      </li>

      <!-- Si NO está logueado -->
      <ng-container *ngIf="!authToken">
        <li>
          <button id="LoginButton" class="nav-button" (click)="goToLogin()">Log in</button>
        </li>
        <li>
          <button id="Sign-inButton" class="nav-button" (click)="goToSignIn()">Sign-In</button>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>
