<header>
  <div id="main_header"></div>
</header>
<div class="content-wrapper">
  <div class="profile-container">
    <div class="avatar"></div>
    <div class="info">
      <div class="text-field">{{ account_name }}</div>
      <div class="icons">
        <div class="icon">
          <span class="gear-icon"></span>
          <a class="clickable" (click)="navigate('edit')"><span>Ajustes</span></a>
        </div>
        <div class="icon">
          <span class="power-icon"></span>
          <div id="Log_Out" (click)="logOut()"><span>Cerrar Sesión</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs">

    <div class="tab" (click)="loadContent('guardado')">
      <img src="" alt="Guardado">
      <span>Guardado</span>
    </div>
    <div class="tab" (click)="loadContent('me-gusta')">
      <img src="" alt="Me gusta">
      <span>Me gusta</span>
    </div>
  </div>
  <div *ngIf="selectedTab === 'guardado'">
    <app-item *ngFor="let recipe of recommendations" [recipe]="recipe"></app-item>
  </div>
  <div *ngIf="selectedTab === 'me-gusta'">
    <app-item *ngFor="let recipe of recommendations" [recipe]="recipe"></app-item>
  </div>
  <div id="content-area">

  </div>
</div>

<footer id="footer">
  <div id="main_footer"></div>
</footer>

