<header>
  <div id="main_header"></div>
</header>
<div class="content-wrapper">
  <div class="profile-container">
    <div class="avatar"></div>
    <div class="info">
      <div class="text-field">Nombre de usuario</div>
      <div class="text-field">Email</div>
      <div class="icons">
        <div class="icon">
          <span class="gear-icon"></span>
          <a href=""><span>Ajustes</span></a>
        </div>
        <div class="icon">
          <span class="power-icon"></span>
          <div id="Log_Out" (click)="logOut()"><span>Cerrar Sesión</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs">

    <div class="tab" onclick="loadContent('guardado')">
      <img src="" alt="Guardado">
      <span>Guardado</span>
    </div>
    <div class="tab" onclick="loadContent('me-gusta')">
      <img src="" alt="Me gusta">
      <span>Me gusta</span>
    </div>
    <div class="tab" onclick="loadContent('ultimas-vistas')">
      <img src="" alt="Últimas vistas">
      <span>Últimas vistas</span>
    </div>
  </div>

  <div id="content-area">

  </div>
</div>

<footer id="footer">
  <div id="main_footer"></div>
</footer>

