<footer class="footer" id="main_footer">
  <div class="footer-container">
    <h1>Contáctanos</h1>
    <div class="footer-content">
      <div class="footer-section">
        <h4>Correos:</h4>
        <div class="Correos">
        <a href="mailto:NicolasReyAlonso@gmail.com">NicolasReyAlonso&#64;gmail.com</a>
        <a href="mailto:trikiwafa04@gmail.com">trikiwafa04&#64;gmail.com</a>
        <a href="mailto:gpiccoli40@gmail.com">gpiccoli40&#64;gmail.com</a>
        </div>
      </div>
      <div class="footer-section">
        <h4>Join</h4>
      </div>
      <div class="footer-section image-section">
        <h4></h4>
        <div class="image-container">
          <img src="../Images/Icone.png" alt="Recipe Image">
        </div>
      </div>
    </div>
  </div>
</footer>
