<ion-footer id="main_footer" class="footer">
  <ion-toolbar>
    <ion-title>Contáctanos</ion-title>
  </ion-toolbar>

  <ion-grid class="footer-container">
    <ion-row class="footer-content">
      <!-- Correos -->
      <ion-col class="footer-section" size="12" size-md="4">
        <h4>Correos:</h4>
        <div class="correos">
          <ion-text><a href="mailto:NicolasReyAlonso@gmail.com">NicolasReyAlonso&#64;gmail.com</a></ion-text><br />
          <ion-text><a href="mailto:trikiwafa04@gmail.com">trikiwafa04&#64;gmail.com</a></ion-text><br />
          <ion-text><a href="mailto:gpiccoli40@gmail.com">gpiccoli40&#64;gmail.com</a></ion-text>
        </div>
      </ion-col>

      <!-- Join -->
      <ion-col class="footer-section" size="12" size-md="4">
        <h4>Join</h4>
        <!-- Podés agregar contenido aquí -->
      </ion-col>

      <!-- Imagen -->
      <ion-col class="footer-section image-section" size="12" size-md="4">
        <div class="image-container">
          <img src="assets/Images/Icone.png" alt="Recipe Image" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
