

<div class="container">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label class="label" for="username">Usuario:</label>
    <input
      required
      type="email"
      id="username"
      name="email"
      class="input-bar"
      [(ngModel)]="email"
      placeholder="tucorreo@ejemplo.com"
    >

    <label class="label" for="password">Contraseña:</label>
    <input
      required
      type="password"
      id="password"
      name="password"
      class="input-bar"
      [(ngModel)]="password"
    >

    <button type="submit" class="login-button">Login</button>
  </form>
</div>

