
<body>
<header>
  <div id="main_header"></div>
</header>
<div class="container">
  <h1>Login</h1>
  <form id="login">
    <label class="label" for="username">Usuario:</label>
    <input required type="email" id="username" class="input-bar" name="username" placeholder="tucorreo@ejemplo.com"
           oninput="this.setCustomValidity('')"
           title="Introduzca una dirección de correo electrónico válida (ejemplo@mail.com)">
    <label class="label" for="password">Contraseña:</label>
    <input required type="password" id="password" class="input-bar" name="password"

           title="Mínimo 8 caracteres, al menos un número, un carácter especial y una mayúscula">
    <button type="submit" class="login-button">Login</button>
  </form>
</div>
<footer id="footer">
  <div id="main_footer"></div>
</footer>




</body>
