@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos bajen en pantallas pequeñas */
  gap: 20px;
  justify-content: center;
}

.recipe-card {
  position: relative;
  flex: 1 1 calc(33.33% - 20px); /* 3 columnas en pantallas grandes */
  max-width: 300px;
  min-width: 200px;
  transition: all 0.3s ease-in-out;
  margin-top: 40px;
}

.recipe-card img {
  width: 100%;
  height: auto;
  border-radius: 9px;
  object-fit: cover;
}

.recipe-info {
  padding: 10px;
}

.recipe-info h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.recipe-info p {
  margin: 5px 0;
  color: #555;
}

.recipe-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

/* Etiquetas */
.time, .vegetarian, .vegan {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
}

.vegetarian, .vegan {
  background-color: rgba(212, 237, 218, 0.8);
  color: #155724;
}

/* Adaptabilidad */
@media (max-width: 1024px) {
  .recipe-card {
    flex: 1 1 calc(50% - 20px); /* 2 columnas en pantalla mediana */
  }
}

@media (max-width: 768px) {
  .recipe-container {
    flex-wrap: wrap;
    justify-content: center; /* Asegura que los elementos bajen en filas */
  }

  .recipe-card {
    flex: 1 1 calc(50% - 20px);
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .recipe-container {
    flex-direction: column; /* Apila las tarjetas verticalmente */
    align-items: center; /* Centra las tarjetas */
    gap: 15px;
  }

  .recipe-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .recipe-card img {
    max-height: 150px; /* Limita la altura de la imagen */
  }

  .recipe-info h3 {
    font-size: 1em;
  }

  .recipe-info p {
    font-size: 0.9em;
  }
}
