<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>Footer Example</title>
</head>
<body>
<footer class="footer">
    <div class="footer-container">
        <h1>Lorem Ipsum</h1>
        <div class="footer-content">
            <div class="footer-section">
                <h4>Connect</h4>
            </div>
            <div class="footer-section">
                <h4>Join</h4>
            </div>
            <div class="footer-section image-section">
                <h4></h4>
                <div class="image-container">
                    <img src="../Images/Icone.png" alt="Recipe Image">
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
