<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página</title>
    <link rel="stylesheet" href="../Styles/header.css">
</head>
<body>

<header>
    <a href="../index.html"><img src="../Images/Icone.png" alt="HomeCook Logo" class="logo"></a>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="ListOfRecipes.html">Recipes</a></li>
            <li><a href="../Account.html">Saved</a></li>
            <li><a href="footer.html">Contacto</a></li>
            <li>
                <form action="#" method="GET" class="search-form">
                    <input id="BusquedaDeReceta" type="text" name="q" placeholder="Buscar..." class="search-input"/>
                    <button id="SearchButton" type="submit" class="search-button"></button>
                </form>
                <button id="LoginButton" class="nav-button" onclick="location.href='Log-in.html'">Log in</button> <!-- Updated here -->
            </li>
            <li><button id="Sign-inButton" class="nav-button" onclick="location.href='Sign-In.html'">Sign-In</button></li> <!-- Updated here -->
        </ul>
    </nav>
</header>

</body>
</html>
