<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>

<header>
    <h1>HomeCook</h1>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#">Recipes</a></li>
            <li><a href="#">Saved</a></li>
            <li><a href="#">Contacto</a></li>
            <li>
                <form action="#" method="GET">
                    <input id="BusquedaDeReceta" type="text" name="q" placeholder="Buscar..." />
                    <button type="submit">🔍</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>