<html>
<head>
    <link rel="stylesheet" href="item.css">
</head>
<body>

<div class="recipe-container">
    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3>Nombre</h3>
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3>Nombre</h3>
            <p>Autor</p>
        </div>
    </div>


    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3>Nombre</h3>
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3>Nombre</h3>
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3>Nombre</h3>
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3>Nombre</h3>
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3>Nombre</h3>
            <p>Autor</p>
        </div>
    </div>
    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3>Nombre</h3>
            <p>Autor</p>
        </div>
    </div>

</div>

</body>
</html>
