<html>
<head>
    <link rel="stylesheet" href="/Styles/item.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap" rel="stylesheet">

</head>


<div class="recipe-container">
    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3><a href="../Templates/StepsOfRecipes.html" target="_blank">Nombre</a></h3> <!-- Enlace añadido -->
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3><a href="../Templates/StepsOfRecipes.html" target="_blank">Nombre</a></h3> <!-- Enlace añadido -->
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3><a href="../Templates/StepsOfRecipes.html" target="_blank">Nombre</a></h3> <!-- Enlace añadido -->
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3><a href="../Templates/StepsOfRecipes.html" target="_blank">Nombre</a></h3> <!-- Enlace añadido -->
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3><a href="../Templates/StepsOfRecipes.html" target="_blank">Nombre</a></h3> <!-- Enlace añadido -->
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3><a href="../Templates/StepsOfRecipes.html" target="_blank">Nombre</a></h3> <!-- Enlace añadido -->
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3><a href="../Templates/StepsOfRecipes.html" target="_blank">Nombre</a></h3> <!-- Enlace añadido -->
            <p>Autor</p>
        </div>
    </div>

    <div class="recipe-card">
        <img src="../Images/img.png" alt="Recipe Image">
        <div class="recipe-overlay">
            <div class="time">30 min</div>
            <div class="vegetarian">Vegetariano</div>
        </div>
        <div class="recipe-info">
            <h3><a href="../Templates/StepsOfRecipes.html" target="_blank">Nombre</a></h3> <!-- Enlace añadido -->
            <p>Autor</p>
        </div>
    </div>
</div>

</body>
</html>
