h1 {
    font-weight: bold;
    font-size: 20px;
    font-family: "Inria", sans-serif;
}

h2 {
    font-size: 16px;
    font-family: "Inria", sans-serif;
    font-weight: normal;
}

#main_step{
    float: left;
    width: 660px;
    margin: 20px;
}
article {
    background: #CCCCCC;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}