<html>
<style>
h1{
    font: bold 20px Inria, sans-serif;
}

#main_step{
    float: left;
    width: 660px;
    margin: 20px;
  }
article {
    background: #CCCCCC;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}

</style>
<body>
<section id="main_step">
    <article>
        <header>
            <hgroup>
                <h1>Title of the step</h1>
            </hgroup>
        </header>
        <figure>
            <img src="step.jpg" width="400">
        </figure>
        This is the text of the step
    </article>
</section>
</body>
</html>