@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.container {
  background: #d3d3d3;
  padding: 30px;
  position: relative;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 400px; /* Mantiene la altura fija */
  margin: 100px auto;
  width: 100%;
  max-width: 400px; /* Evita que sea demasiado grande en pantallas grandes */
}

.container h1 {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
}

.input-bar {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: gray;
  margin-bottom: 15px;
}

.login-button {
  background: #e08b89;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  font-family: 'Raleway', sans-serif;
}

.login-button:hover {
  background: #d46b6a;
}

@media (max-width: 1024px) {
  .container {
    width: 300px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 95%;
    height: auto;
    padding: 15px;
  }
}
