@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-wrapper {
  margin-top: 400px; /* Ajusta este valor según la altura de tu header */
}

#ListOfRecipes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;

}
.separator {
  height: 20px;
  margin: 20px 0;
  border-top: 1px;
}
.recipe-container {
  width: 400px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column; /* Alinea todo en columna */
  min-height: 100vh; /* El body ocupa toda la pantalla */
  background-color: #f0f0f0;
  padding: 20px;
}

#Imagen_Receta_Principal{
  display: flex;
  overflow: hidden;
  max-width: 100%;
}
.container {
  position: relative;
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1200px;
  border-radius: 20px;
  height: 500px;
  overflow: hidden;
  margin: 1rem;
  background-color: #d3d3d3;
  aspect-ratio: 16 / 9;
}
.image-placeholder {
  position: relative;
  flex: 2;
  background: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-section {
  flex: 1;
  text-align: center;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  margin-top: 15%;
}
.buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;

}
.buttons button {
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  background-color: #4db43f;
  color: white;
  font-family: sans-serif;
  font-size: 0.9em;
  cursor: pointer;

}
ul{
  padding: 1em;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.Why_icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Why_icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.Why_text {
  justify-self: center;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    aspect-ratio: unset;
  }
  .text-section {
    font-size: 1em;
  }
}
.icon_type{
  position: relative;
  flex: 2;
  background: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_type img{
  width: 80px;
  height: 100px;
  object-fit: cover;
}
/*.icon_type::before,
.icon_type::after {
    content: "";
    position: absolute;
    width: 0.2em;
    background: black;
    transform: rotate(45deg);
}
.icon_type::before {
    height: 70%;
}
.icon_type::after {
    height: 70%;
    transform: rotate(-45deg);
}*/
Lista_De_Tipos_Item_Lista {
  display: flex;
  overflow: scroll;
}
.Lista_De_Tipos{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.Lista_De_Tipos_Item {
  position: relative;
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 10em;
  border-radius: 10em;
  overflow: hidden;
  background-color: #d3d3d3;
  aspect-ratio: 16 / 9;
  margin: 5em;
}

.text_type{
  flex: 1;
  padding: 10px;
  font-family: 'Raleway';
  font-size: 1.0em;
  line-height: 1.6;
  align-content: center;
  text-align: left;
}
.Bloque_Tipos{
  margin-left: 1rem;
}
.Bloque_Tipos h2{
  color: #9F6A6A;
  font-weight: bold;
}
.SectionHeader{
  display: flex;
  justify-self: center;
  justify-content: center;
  color: #9F6A6A;
}
.why_list{
  gap: 60px;
  overflow-x: scroll;
}


.RecipeOfTheDayTitle{
  display: flex;
  justify-content: center;
  font-size: clamp(0.7rem, 2rem, 4rem);
}
@media (max-width: 480px) {
  #ListOfRecipes {
    width: 100%; /* Ajusta el ancho para que no desborde */
    max-width: none; /* Evita que se haga demasiado pequeña */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas */
  }
}
