<div class="container">
  <!-- Receta del día -->
  <div class="image-placeholder">
    <a [href]="'recipe?id=' + recipeOfTheDay.id">
      <img [src]="recipeOfTheDay.Image || 'Images/Icone.png'" [alt]="recipeOfTheDay.Name">
    </a>
    <div class="buttons">
      <button>Vegetarian</button>
      <button>Spicy</button>
    </div>
  </div>
  <div class="text-section">
    <h1>{{ recipeOfTheDay.Name }}</h1>
    <p>{{ recipeOfTheDay.Creator }}</p>
  </div>
</div>

<!-- Tipos de receta -->
<div class="Bloque_Tipos">
  <h2>Tipos de Receta</h2>
  <div class="Lista_De_Tipos">
    <ul>
      <li *ngFor="let type of recipeTypes">
        <a [href]="'Recipes-filter.html?filter=' + type.Name">
          <div class="Lista_De_Tipos_Item">
            <div class="icon_type">
              <img [src]="type.Image || 'Images/Icone.png'" [alt]="type.Name">
            </div>
            <div class="text_type">
              {{ type.Name }}
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Tipos de ingredientes -->
<div class="Bloque_Tipos">
  <h2>Tipos de Ingredientes</h2>
  <div class="Lista_De_Tipos">
    <ul>
      <li *ngFor="let ingredient of ingredientTypes">
        <a [href]="'Recipe.html?id=' + ingredient.id">
          <div class="Lista_De_Tipos_Item">
            <div class="icon_type">
              <img [src]="ingredient.Image || 'Images/Icone.png'" [alt]="ingredient.Name">
            </div>
            <div class="text_type">
              {{ ingredient.Name }}
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Recetas favoritas -->
<h1 class="SectionHeader">Nuestras Recetas Preferidas</h1>


<div id="ListOfRecipes">
  <app-item *ngFor="let recipe of favoriteRecipes" [recipe]="recipe"></app-item>

</div>
