@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    clear: both;
    background-color: #FBDBDB;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer h1 {
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.footer-section:last-child {
    border-right: none;
}

.image-section .image-container {
    margin-top: 70px;
}

.image-section img {
    width: 300px;
    height: auto;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
    .footer-content {
        flex-direction: row;
        justify-content: center;
    }

    .footer-section {
        padding-right: 10px;
        border-right: none;
    }

    .image-section img {
        width: 250px; /* imagen más pequeña*/
    }
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        padding-right: 0;
    }

    .image-section img {
        width: 200px;
    }
}


@media (max-width: 480px) {
    .footer {
        padding: 0.5em 0;
    }

    .footer h1 {
        font-size: 18px;
    }

    .footer-section {
        min-width: 200px;
        margin: 5px 0;
    }

    .image-section img {
        width: 150px;
    }
}
