.recipe-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recipe-card {
    width: 22%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
.recipe-card img {
    width: 100%;
    height: auto;
}
.recipe-info {
    padding: 10px;
}
.recipe-info h3 {
    margin: 10px 0;
    font-size: 1.2em;
}
.recipe-info p {
    margin: 5px 0;
    color: #555;
}
.recipe-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time, .vegetarian {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}

.vegetarian {
    background-color: rgba(212, 237, 218, 0.8);
    color: #155724;
}

.time, .vegan {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}

.vegan {
    background-color: rgba(212, 237, 218, 0.8);
    color: #155724;
}



